html
    head
        title= Page_Example
    body
        include ./header.pug
        h3 I am the main content.
        h1= name
        i here comes the link:   
        a(href='./cat.jpg' target='_blank') URL
        include ./footer.pug
